{%- extends 'nationalarchives/templates/layouts/_generic.njk' -%}

{%- from 'nationalarchives/components/cookie-banner/macro.njk' import tnaCookieBanner -%}
{%- from 'nationalarchives/components/footer/macro.njk' import tnaFooter -%}
{%- from 'nationalarchives/components/header/macro.njk' import tnaHeader -%}
{%- from 'nationalarchives/components/skip-link/macro.njk' import tnaSkipLink -%}

{%- set assetPath = BASE_PATH + 'assets/' -%}

{%- set theme = 'system' -%}

{%- set siteTitle = siteSettings.name + ' - The National Archives' -%}
{%- set pageTitle = title -%}
{% set htmlAttributes = {
  'data-tna-cookies-domain': siteSettings.cookiesDomain or '.nationalarchives.gov.uk',
  'data-tna-cookies-path': BASE_PATH,
  'data-ga4id':  siteSettings.googleAnalytics4Id or ''
} %}

{% block head %}
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.nationalarchives.gov.uk; style-src 'self' https://fonts.googleapis.com https://use.typekit.net https://p.typekit.net https://www.nationalarchives.gov.uk 'sha256-hmf/W5DAwRg/Gu1jng1ypAFrjR6tTn1nZMt0t/kvEfE='; font-src 'self' https://use.typekit.net https://fonts.gstatic.com">
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}
  <meta name="tna.app.tna-frontend" content="{{ TNA_FRONTEND_VERSION }}">
  {%- if page.date %}
  <meta name="tna.page.last-updated" content="{{ page.date | iso8601 }}">
  {%- endif %}
  <meta name="tna.page.accent" content="{{ themeAccent }}">
{% endblock %}

{% block stylesheets %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ BASE_PATH }}css/main.css" media="screen,print">
  <link rel="stylesheet" href="{{ BASE_PATH }}css/font-awesome.css" media="screen,print">
  <link rel="stylesheet" href="https://use.typekit.net/kaq6qqh.css" media="screen,print">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Roboto+Mono:wght@400..500&display=swap">
  <link rel="stylesheet" href="{{ BASE_PATH }}css/ie.css" media="all and (-ms-high-contrast: none), (-ms-high-contrast: active)">
  <link rel="stylesheet" href="{{ BASE_PATH }}css/print.css" media="print">
  {%- if siteSettings.includeLogoAdornments %}
  <link rel="stylesheet" href="https://www.nationalarchives.gov.uk/enrichment/css/logo-adornments.css" media="screen">
  {%- endif %}
{% endblock %}

{% block cookies %}
  {{ tnaCookieBanner({
    serviceName: siteSettings.name,
    cookiesUrl: siteSettings.cookiePreferencesUrl or 'https://www.nationalarchives.gov.uk/cookies/'
  }) }}
{% endblock %}

{% block skipLink %}
  {{ tnaSkipLink({
    href: 'main-content',
    text: 'Skip to main content'
  }) }}
{% endblock %}

{% block header %}
  {% set headerNavigationItems = [] %}
  {% for pageItem in collections.headerNavigation %}
    {% set headerNavigationItems = (headerNavigationItems.push({
      text: pageItem.data.title,
      href: pageItem.url,
      selected: page.url.startsWith(pageItem.url)
    }), headerNavigationItems) %}
  {% endfor %}
  {{ tnaHeader({
    logo: {
      strapline: siteSettings.headerStrapline,
      href: BASE_PATH
    },
    navigation: headerNavigationItems if headerNavigationItems.length > 0 else null
  }) }}
{% endblock %}

{% block footer %}
  {% set footerNavigationItems = [] %}
  {% for footerGroup, footerGroupItems in collections.footerNavigation %}
    {% set footerNavigationGroupItems = [] %}
    {% for footerGroupItem in footerGroupItems %}
      {% set footerNavigationGroupItems = (footerNavigationGroupItems.push({
        text: footerGroupItem.data.title,
        href: footerGroupItem.url
      }), footerNavigationGroupItems) %}
    {% endfor %}
    {% set footerNavigationItems = (footerNavigationItems.push({
      title: footerGroup,
      items: footerNavigationGroupItems
    }), footerNavigationItems) %}
  {% endfor %}
  {{ tnaFooter({
    themeSelector: true,
    currentTheme: theme,
    navigation: footerNavigationItems,
    legal: [
      {
        text: 'Accessibility',
        href: BASE_PATH + 'accessibility/'
      },
      {
        text: 'Cookies',
        href: siteSettings.cookiePreferencesUrl or 'https://www.nationalarchives.gov.uk/cookies/'
      },
      {
        text: 'Sitemap',
        href: BASE_PATH + 'sitemap/'
      }
    ],
    classes: 'tna-!--margin-top-l'
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ BASE_PATH }}js/main.js"></script>
  {%- if siteSettings.includeLogoAdornments %}
  <script type="module" src="https://www.nationalarchives.gov.uk/enrichment/js/logo-adornments.js" defer></script>
  {%- endif %}
{% endblock %}
